@import "layout/colors"
@import "bulma/sass/utilities/mixins"

.about-us
  .subtitle
    line-height: 1

  +desktop()
    &.section
      //background-color: transparentize(#000b21, .5)
      background-color: transparentize(#0e1323, .25)
      height: 56.25vw
      z-index: 1
      position: relative
      box-sizing: border-box
      padding: 15vw

    .title, .content
      color: white

  ul
    list-style: none
    margin: 0

    li:before
      content: '✓'
      color: $primary
      padding-right: 10px
